<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message generator | New </title>
</head>
<body>
    <form method = "post" action="/new">
        <input type="text" id="messageUser" name="messageUser" placeholder="Username" required><br>
        <label for="messageText">Message:</label>
        <input type="text" id="messageText" name="messageText" placeholder="Message Here Please"><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>