<!DOCTYPE html>
<html>
<head>
  <title>Message Details</title>
</head>
<body>
  <h1>Message by <%= message.user %></h1>
  <p><%= message.text %></p>
  <small><%= message.added.toLocaleString() %></small><br>
  <a href="/">Back to messages</a>
</body>
</html>
